<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">new recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <a href="" class="list-group-item clearfix" *ngFor="let recipe of recipes">
<div style="float: left">
  <h4 class="list-group-item-heading">{{recipe.name}}</h4>
  <p class="list-group-item-text">{{recipe.description}}</p>
</div>
<span style="float: right">
  <img [src]="recipe.imagePath" style="max-height: 50px" class="img-fluid" alt="{{recipe.name}}">
</span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

